*.o
*.a
*.so
*.d
depinst/
depsrc/

build/
.ccls-root
.ccls-cache/
compile_commands.json
.clang-format
.idea/
cmake-build-debug/
.vscode/

CMakeCache.txt
CMakeFiles/
Makefile
lwe/bin

*.cmake
*.pc
__pycache__/
